<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo>
    
    <plugin name="xbot2_joint_driver" filename="libxbot2_gz_joint_server.so">
        <pid>
            <gain name="lowpwr_mot" p="50"  d="5"/>
            <gain name="small_mot"  p="600"  d="6"/>
            <gain name="medium_mot" p="4000" d="40"/>
            <gain name="big_mot"    p="8000" d="50"/>
            <gain name="dagana_mot"  p="10" d="0.5"/>

            <pid name="j_arm1_1" profile="medium_mot"/>
            <pid name="j_arm1_2" profile="medium_mot"/>
            <pid name="j_arm1_3" profile="medium_mot"/>
            <pid name="j_arm1_4" profile="medium_mot"/>
            <pid name="j_arm1_5" profile="small_mot"/>
            <pid name="j_arm1_6" profile="small_mot"/>
            <pid name="dagana_1_claw_joint" profile="dagana_mot"/>
        </pid>
    </plugin>
</gazebo>

</robot>
