<?xml version="1.0"?>
<launch>

    <arg name="ci_rviz" default="false" />
    <arg name="gdb" default="false" />
    <let if="$(var gdb)" name="prefix" value="gdb -ex run --arg"/>
    <let unless="$(var gdb)" name="prefix" value=""/>
    <arg name="markers" default="false"/>
    <arg name="rate" default="100.0"/>
    <arg name="solver" default="OpenSot"/>
    <arg name="tf_prefix" default="ci"/>
    <arg name="namespace" default="/"/> <!-- dummy argument avoids pass_all_args error in parent launch file -->
    <arg name="is_model_floating_base" default="false"/>    
    <arg name="enable_otg" default="true"/>
    <arg name="problem_description_file" default="$(find-pkg-share inail2arm_cartesio)/config/inail2arm_simple_stack.yaml"/>
    

    <node pkg="cartesian_interface_ros" exec="ros_server_node" 
                                    name="ros_server_node" 
                                    output="screen" 
                                    launch-prefix="$(var prefix)">
                                    
        <remap from="robot_description" to="/xbotcore/robot_description" />
        <remap from="robot_description_semantic" to="/xbotcore/robot_description_semantic" />
        <remap from="/model_description/robot_description" to="/xbotcore/robot_description"/>
        <remap from="/model_description/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>

        <param name="enable_otg" value="$(var enable_otg)"/>
        <param name="is_model_floating_base" value="$(var is_model_floating_base)"/>
        <param name="model_type" value="pin"/>
        <param name="solver" value="$(var solver)"/>
        <param name="use_xbot_config" value="false"/>
        <param name="rate" value="$(var rate)"/>
        <param name="tf_prefix" value="$(var tf_prefix)"/>
        <param name="world_frame_link" value="world"/>
        <param name="joint_blacklist" type="yaml" value="[dagana_1_claw_joint]"/>
        <param name="problem_description" type="str" value="$(command 'cat $(var problem_description_file)')"/>
    </node>

    <node if="$(var markers)" pkg="cartesian_interface_ros" exec="marker_spawner" name="interactive_markers" output="screen">
        <param name="tf_prefix" value="$(var tf_prefix)"/>
        <remap from="robot_description" to="/xbotcore/robot_description" />
        <remap from="robot_description_semantic" to="/xbotcore/robot_description_semantic" />
    </node>

    <node if="$(var ci_rviz)" pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(find-pkg-share inail2arm_cartesio)/rviz/inail2arm_cartesio.rviz">
    </node> 
</launch>
