<?xml version="1.0"?>
<launch>

    <set_env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}] [${function}] [${line}]: ${message}"/>

    
    <arg name="rviz" default="true" />

<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch">
        <let name="world_name" value="$(find-pkg-share inail2arm_gazebo)/worlds/inail2arm.world"/> 
        <let name="paused" value="false"/>
        <let name="use_sim_time" value="true"/>
        <let name="gui" value="true"/>
        <let name="recording" value="false"/>
        <let name="debug" value="false"/>
        <let name="verbose" value="true"/>
        <let name="physics" value="ode"/>
<!--   to record log, btw deprecated name now it is recording      -->
<!--        <arg name="headless" default="false"/> -->
    </include>
    
    <!-- ***************************** TABLE   ********************************************************************************* -->

    <let name="t_pose_x" value="0" />
    <let name="t_pose_y" value="0" />
    <let name="surface_high" value="0.853" />
    <let name="t_size_x" value="0.75" />
    <let name="t_size_y" value="1.2" />
    <let name="t_size_z" value="0.05" />


    <include file="$(find-pkg-share iit_gazebo_worlds_pkg)/table/launch/load_table.launch">
        <let name="table_name" value="table"/>
        <let name="table_urdf_name" value="table"/>
        <let name="pub_tf" value="true"/>
        <let name="pub_world_pose" value="false"/>
        <let name="t_pose_x" value="$(var t_pose_x)" />
        <let name="t_pose_y" value="$(var t_pose_y)" />
        <let name="surface_high" value="$(var surface_high)"/>
        <let name="surface_size_x" value="$(var t_size_x)"/>
        <let name="surface_size_y" value="$(var t_size_y)"/>
        <let name="surface_size_z" value="$(var t_size_z)"/>
        <let name="surface_gazebo_color" value="Gazebo/Gold"/>
    </include>
    
    
    <!-- ***************************** ROBOT   ******************************************************************** -->
    
    <include file="$(find-pkg-share inail2arm_gazebo)/launch/loaders/load_inail2arm.launch">
        <let name="pose_x" value="$(eval t_pose_x - (t_size_x/2 - 0.10))" />
        <let name="pose_y" value="$(eval t_pose_y - (t_size_y/2 - 0.10))" />
        <let name="pose_z" value="$(eval surface_high)" />
        <let name="waitFor" value="table" />
    </include>
    

        <!-- unique node for pub all obj_world_poses, so we put pub_xxx_data to false above -->
    <node name="poses_gazebo_to_tf" pkg="iit_gazebo_worlds_pkg" exec="pose_gazebo_to_tf.py" output="screen" 
          args="--reference world --models table --models_link surface --ignore_roslaunch_added_param" />
    
    <!-- *************************** RVIZ OPTION ********************************************************************************************* -->
    <node if="$(var rviz)" pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(find-pkg-share inail2arm_urdf)/config/inail2arm_table_rviz.rviz">
    </node> 

</launch>

