<?xml version="1.0"?>
<launch>

    <arg name="rviz" default="true" />

<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch">
        <let name="world_name" value="$(find-pkg-share inail2arm_gazebo)/worlds/inail2arm.world"/> 
        <let name="paused" value="false"/>
        <let name="use_sim_time" value="true"/>
        <let name="gui" value="true"/>
        <let name="recording" value="false"/>
        <let name="debug" value="false"/>
        <let name="verbose" value="true"/>
        <let name="physics" value="ode"/>
<!--   to record log, btw deprecated name now it is recording      -->
<!--        <arg name="headless" default="false"/> -->
    </include>

    <!-- ***************************** ROBOT   ********************************************************************************************** -->

    <include file="$(find-pkg-share inail2arm_gazebo)/launch/loaders/load_inail2arm.launch">
    </include>
    
    <!-- *************************** RVIZ OPTION ********************************************************************************************* -->
    <node if="$(var rviz)" pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(find-pkg-share inail2arm_urdf)/config/inail2arm_rviz.rviz">
    </node> 

</launch>

